# -----------------
# Eclipse
# -----------------
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
out/**

*.log

*.tmp
*.bak
*.swp
*~.nib

local.properties
.classpath
.settings
.loadpath

# No idea...
/src/main.resources.rebal.xml
.externalToolBuilders/

# Eclipse launch config
.launch

# IntelliJ
*.iml
.idea

# CDT specific
.cproject

# PDT specific
.buildpath

# -----------------
# Java
# -----------------
*.class 


# -----------------
# Package Files
# -----------------
*.jar
*.war
*.ear
*.db

# Object and Archive files
*.[oa]

# -----------------
# Windows
# -----------------
Thumbs.db
Desktop.ini

# -----------------
# OSX
# -----------------
.DS_Store
.svn

._*
.Spotlight-V100
.Trashes
/target/
